@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);

body {
	font-size: 14px;
    font-family: Source Code Pro, Courier New, sans-serif, Comic Sans MS;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.keyword {
	font-weight: bold;
	color: #007020;
}

.namespace {
	font-weight: bold;
	color: #0e84b5;
}

.string {
	color: #4070a0;
}

.longstring {
	color: #0A3866;
}

.number {
	color: #40a070;
}

.escapechar {
	color: #ff4400;
}

.indent {
    padding-left: 40px;
}