<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/codeReddit.css" media="all">
</head>
<body>
	from codeChan import ChanIndex<br />
	{{ boardAbbr }} = ChanIndex('{{ boardAbbr }}')<br /><br />
	{% for thread in indexData %}
		{% if thread[0][1] is defined %}
			{{ boardAbbr }}[<a href="./{{ thread[0][0] }}/">{{ thread[0][0] }}</a>]['op']['subj'] = '{{ thread[0][1] }}'<br />
		{% endif %}
		{{ boardAbbr }}[<a href="./{{ thread[0][0] }}/">{{ thread[0][0] }}</a>]['op']['time'] = '{{ thread[0][2] }}'<br />
		{% if thread[0][3] is defined %}
			{{ boardAbbr }}[<a href="./{{ thread[0][0] }}/">{{ thread[0][0] }}</a>]['op']['image'] = '<a href="{{ thread[0][3] }}">{{ thread[0][3] }}</a>'<br />
		{% endif %}
		{{ boardAbbr }}[<a href="./{{ thread[0][0] }}/">{{ thread[0][0] }}</a>]['op'] = """{{ thread[0][4] }}"""<br />
		with {{ boardAbbr }}[<a href="./{{ thread[0][0] }}/">{{ thread[0][0] }}</a>]['op'] as op:
		{% for post in thread[1:] %}
		<div class="indent">
			{% if post[3] is defined %}
				op['image'][{{ post[0] }}] = """<a href="{{ post[3] }}">{{ post[3] }}</a>"""<br />
			{% endif %}
			op['reply'][{{ post[0] }}] = """{{ post[4] }}"""<br />
		</div>
		{% endfor %}
		{% if thread[0][5] is defined %}
			{{ boardAbbr }}[<a href="./{{ thread[0][0] }}/">{{ thread[0][0] }}</a>]['replies_omitted'] = {{ thread[0][5] }}<br />
		{% endif %}
		{% if thread[0][6] is defined %}
			{{ boardAbbr }}[<a href="./{{ thread[0][0] }}/">{{ thread[0][0] }}</a>]['images_omitted'] = {{ thread[0][6] }}<br />
		{% endif %}
		<br />
	{% endfor %}
</body>
</html>