<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/codeChan.css" media="all">
</head>
<body>
	<span class="keyword">from</span> <span class="namespace">codeChan</span> <span class="keyword">import</span> ChanIndex, ChanThread<br />
	{{ boardAbbr }} = ChanIndex(<a href="../" class="string">'{{ boardAbbr }}'</a>)<br />
	thread = ChanThread(<span class="number">{{ threadData[0][0] }}</span>)<br /><br />
	thread.addOp({% if threadData[0][1] is defined %}subj=<span class="string">'{{ threadData[0][1] }}'</span>
	{% endif %}
	time=<span class="string">'{{ threadData[0][2] }}'</span>,
	{% if threadData[0][3] is defined %}
		image=<span class="string">'<a href="{{ threadData[0][3] }}" class="string">{{ threadData[0][3] }}</a>'</span>,
	{% endif %}
	text=<span class="escapechar">\</span><br />
	<div class="indent">
		<span class="longstring">"""{{ threadData[0][4] }}"""</span>)
	</div><br />
	{% for post in threadData[1:] %}
	thread.addPost(post=<a name="{{ post[0] }}" href="#{{ post[0] }}" class="number">{{ post[0] }}</a>,
	{% if post[1] is defined %}
		subj=<span class="string">"{{ post[1] }}"</span>,
	{% endif %}
	time=<span class="string">'{{ post[2] }}'</span>,
	{% if post[3] is defined %}
		image=<span class="string">'<a href="{{ post[3] }}" class="string">{{ post[3] }}</a>'</span>,
	{% endif %}
	text=<span class="escapechar">\</span><br />
	<div class="indent"><span class="longstring">"""{{ post[4] }}"""</span>)</div><br />
	{% endfor %}
	<br /><a href="../" class="keyword">return <span class="string">'{{ boardAbbr }}'</span></a><br /><br />
</body>
</html>